/* Common styles _____________ */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #262C27;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}


/* Header section _____________ */

.header {
  position: relative;
  min-height: 100vh;
  background-image: url(../images/Header_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  margin-bottom: 80px;
}

.header::before {
  content: '';
  height: 456px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../images/Header_decor.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(35%);
  z-index: 2;
}

.header::after {
  content: '';
  height: 456px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../images/Header_decor.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(75%) rotate(180deg);
  z-index: 3;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 100px;
  padding: 57px 0;
  
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
}

.logo path {
  transition: fill 0.3s ease;
}

.logo:hover path {
  fill: #0093A1;
}

.header__btn {
  text-transform: uppercase;
  color: #fff;
  padding: 12px 71px;
  background-color: #262C27;
  border: none;
  cursor: pointer;
}

.header__content {
  position: relative;
  min-height: calc(100vh - 161px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__content-box {
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 550px;
  text-align: center;
  margin-right: 30px;
  color: #fff;
}

.header__title {
  margin-bottom: 20px;
  font-size: 64px;
  line-height: 71px;
}

.header__text {
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 20px;
}

.header__decor-text {
  position: absolute;
  bottom: 25px;
  color: #0093A1;
}

.header__decor-text--1,
.header__decor-text--2 {
  opacity: 0.3;
  font-family: 'Comfortaa', cursive;
  font-size: 130px;
  line-height: 145px;
}

.header__decor-text--1 {  
  z-index: 1;
  right: 145px;
  bottom: 120px;
}

.header__decor-text--2 {
  z-index: 4;
  left: 265px;
}

.header__decor-text--3 {
  max-width: 360px;
  right: 145px;
  z-index: 4;

  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
}


/* Info section _____________ */

.info {
  position: relative;
  /* margin-top: 120px; */

  background-image: url(../images/info_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.info::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  content: '';
  height: 130px;
  background-color: #262C27;
  transform: translateY(-120px);
  z-index: 1;
}

.info__top {
  padding-top: 100px;
  margin-bottom: 65vh;
  display: flex;
  gap: 80px;
}

.info__top-text {
  position: relative;
  width: 290px;
  padding-top: 245px;
  color: #fff;
}

.info__top-text--1 {
  padding-bottom: 125px;
}

.info__top-text--2 {
  border-bottom: 1px solid #fff;
}

.info__img {
  position: relative;
  width: 227px;
  height: 650px;
  z-index: 6;
}

.popup-btn {
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.popup-btn span {
  display: block;
  padding-top: 12px;
  color: #fff;
}

.info__btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

.info__specs {
  display: flex;
  align-items: center;
  gap: 130px;
  color: #fff;
  padding-bottom: 50px;
}

.info__specs-title {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 67px;
  width: 250px;
  font-weight: 700;
}

.info__specs-list {
  width: 565px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 30px 0;
}

.info__specs-item {
  margin-bottom: 15px;
  display: flex;
  gap: 25px;
}

.info__specs-caption {
  width: 185px;

}
